body{
    font-family: Roboto, serif;
}

button{
    font-family: inherit;
    font-size: 25px;
    border:none;
    background-color: rgb(192, 47, 211);
    border-radius: 3px;
    margin: 30px;
    box-shadow: 3px 4px 2px 1px rgba(0, 0, 255, .2);
}

.container{
    display: flex;
  
}

.grid {
    box-shadow: 3px 4px 2px 1px rgba(153, 153, 248, 0.2);
    width: 200px;
    height: 400px;
    

background-image: linear-gradient(
    to bottom,
    rgb(121, 235, 27),
    rgb(233, 85, 17)
  );

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid div{
    height: 20px;
    width: 20px;
}

.tetromino{
    border-radius: 3px;
   box-shadow: 3px 3px 1px rgba(211, 210, 210, 0.5) inset,
    -3px -3px 1px rgba(49, 49, 49, 0.5) inset;
}

.mini-grid{
    box-shadow: 3px 4px 2px 1px rgba(0, 0, 255, .2);
    margin-left: 30px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(132, 214, 112);
}

.mini-grid div{
    height: 20px;
    width: 20px;
}